<%= form_with model: @clothe, local: true do |f|%>
  <div class="field">
    <%= f.label :memo, "memo" %><br />
    <%= f.text_field :memo %>
  </div>

  <div class="field">
    <%= f.label :date, "date" %><br />
    <%= f.select :date,[["1月","1月"],["2月", "2月"],["3月","3月"],["4月", "4"],["5月","5"],
    ["6月", "6"],["7月","7"],["8月", "8"],["9月","9"],["10月", "10"],["11月","11"],["12月", "12"]],include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= f.label :season, "season" %><br />
    <%= f.select :season,[["春","春"],["夏", "夏"],["秋","秋"],["冬", "冬"]],include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= f.label :color, "color" %><br />
    <%= f.select :color,[["白","白"],["ベージュ", "ベージュ"],["茶","茶"],["黒", "黒"],["赤","赤"],["オレンジ", "オレンジ"],["黄","黄"],["緑", "緑"],
    ["紫","紫"],["青","青"],],include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= f.label :image, "your clothes" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>