<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Closet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
           <%= link_to "Closet.", root_path, class: :logo %>
           <h2 class ="h2">クローゼットの洋服を管理しよう</h2>
            <ul class="nav-lists">
              <li class="list-status">
                <span id="current-list"></span>
                </li>
                <li class="background-red" id="lists">カテゴリー
                </li>
            
             </ul>
            
              <ul class="show-lists hidden" id="pull-down">
              <li class="pull-down-list">インナー
              <%#= link to %>
              </li>

              <li class="pull-down-list">トップス</li>
              <li class="pull-down-list">アウター</li>
              <li class="pull-down-list">ボトム</li>
              </ul>
          </div> 
         <div class="nav__right">
            <%= form_with(url: search_clothes_path, local: true, method: :get, class: "search-form") do |f| %>
               <%= f.search_field :keyword, placeholder: "search", class: "search-input" %>
              <%= f.submit "検索する", class: "search-btn" %>
            <% end %>
              <%= link_to "New clothes", new_clothe_path, class: :nav__btn %>
              <%= link_to "Your clothes", clothes_index_path, class: :nav__btn %>
                       <h6 class="photo">photo by Kelsey Curtis </h6>  
                       
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © Kayo Tsujinishi.</p>
    </footer>
  </body>
</html>
